* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(#e6ebef, #1c87c9, #8ebf42);
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 3rem;
}

.btn1 {
    background-color: black;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.home {
    margin-right: 1.5rem;
}

.content {
    width: 75%;
    margin: auto;
}

.container4 {
    padding: 2rem;
}

.container1 {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.one,
.btn {
    flex: 50%;
}

.one input {
    margin-right: 1rem;
    padding: 10px 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width:600px) {
    .add {
        display: block;
    }
    .add1 {
        margin-top: 1rem;
    }
}
